In [6]:
import pandas as pd
# step 1  create sample dataset
data_shruti={
    'Region':['North', 'South','East','West','North', 'South','East','West'],
    'Product':['A','B','A','B','A','B','A','B'],
    'Sales':[150,800,400,600,450,80,40,80],
    'Quantity':[10,50,60,40,83,56,71,25],

}

In [8]:
df_hrut=pd.DataFrame(data_shruti)
df_hrut

  Region Product  Sales  Quantity
0  North       A    150        10
1  South       B    800        50
2   East       A    400        60
3   West       B    600        40
4  North       A    450        83
5  South       B     80        56
6   East       A     40        71
7   West       B     80        25

In [9]:
# step 2 grouping and aggregration
# aggregrating sales by region
sales_by_region=df_hrut.groupby('Region')['Sales'].sum()
print(sales_by_region)

Region
East     440
North    600
South    880
West     680
Name: Sales, dtype: int64

In [11]:
# aggregrating sales and quantity by product(mean aggregration)
mean_by_product=df_hrut.groupby('Product')[['Sales','Quantity']].mean()
mean_by_product

         Sales  Quantity
Product
A        260.0     56.00
B        390.0     42.75

In [12]:
# aggrgrating count of sales by region
count_by_region=df_hrut.groupby('Region')['Sales'].count()
count_by_region

Region
East     2
North    2
South    2
West     2
Name: Sales, dtype: int64

In [13]:
#custom aggregration
custom_aggregration=df_hrut.groupby('Region')['Sales'].agg(['min','max'])
custom_aggregration

        min  max
Region
East     40  400
North   150  450
South    80  800
West     80  600

In [14]:
# step3 mutli level aggregration
# aggregrating sales by region and product
multi_level_agg=df_hrut.groupby(['Region','Product'])['Sales'].sum()
multi_level_agg

Region  Product
East    A          440
North   A          600
South   B          880
West    B          680
Name: Sales, dtype: int64

In [15]:
# step 4 reset index for multi level aggregration
multi_level_agg_reset=multi_level_agg.reset_index()
multi_level_agg_reset

  Region Product  Sales
0   East       A    440
1  North       A    600
2  South       B    880
3   West       B    680


Objective:

To understand and implement:

Time Aggregation: Aggregating data over different time periods (e.g., monthly, yearly).

Spatial Aggregation: Aggregating data by spatial attributes (e.g., by region, city)

In [18]:
import pandas as pd

# step 1  Extend dataset with time and spatial data
data_shruti={
    'Region':['North', 'South','East','West','North', 'South','East','West'],
    'Product':['A','B','A','B','A','B','A','B'],
    'Sales':[150,800,400,600,450,80,40,80],
    'Quantity':[10,50,60,40,83,56,71,25],
    'Date':pd.to_datetime(['2024-01-01','2024-05-01','2024-06-04','2024-03-05','2024-01-09','2024-05-03','2024-02-08','2024-05-03'])
}

In [20]:
df_hrut=pd.DataFrame(data_shruti)
df_hrut

  Region Product  Sales  Quantity       Date
0  North       A    150        10 2024-01-01
1  South       B    800        50 2024-05-01
2   East       A    400        60 2024-06-04
3   West       B    600        40 2024-03-05
4  North       A    450        83 2024-01-09
5  South       B     80        56 2024-05-03
6   East       A     40        71 2024-02-08
7   West       B     80        25 2024-05-03

In [22]:
# time aggregration
#step 2 set date column as index
df_hrut.set_index('Date',inplace=True)

In [23]:
# aggregrating sales by month'
minthly_sales=df_hrut.resample('M')['Sales'].sum()
minthly_sales

/tmp/ipython-input-1219167.py:2: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  minthly_sales=df_hrut.resample('M')['Sales'].sum()

Date
2024-01-31    600
2024-02-29     40
2024-03-31    600
2024-04-30      0
2024-05-31    960
2024-06-30    400
Freq: ME, Name: Sales, dtype: int64

In [24]:
# aggregrating sales by quater
quaterly_sales=df_hrut.resample('Q')['Sales'].sum()
quaterly_sales

/tmp/ipython-input-1047331191.py:2: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  quaterly_sales=df_hrut.resample('Q')['Sales'].sum()

Date
2024-03-31    1240
2024-06-30    1360
Freq: QE-DEC, Name: Sales, dtype: int64

In [25]:
# aggregrating sales by year
yearly_sales=df_hrut.resample('Y')['Sales'].sum()
yearly_sales

/tmp/ipython-input-3218874895.py:2: FutureWarning: 'Y' is deprecated and will be removed in a future version, please use 'YE' instead.
  yearly_sales=df_hrut.resample('Y')['Sales'].sum()

Date
2024-12-31    2600
Freq: YE-DEC, Name: Sales, dtype: int64

In [26]:
#reset index to restore original structure
df_hrut.reset_index(inplace=True)

In [27]:
# spatial Aggegrating sales by region
sales_by_region=df_hrut.groupby('Region')['Sales'].sum()
sales_by_region

Region
East     440
North    600
South    880
West     680
Name: Sales, dtype: int64

In [30]:
sales_by_city=df_hrut.groupby('Quantity')['Sales'].sum()
sales_by_city

Quantity
10    150
25     80
40    600
50    800
56     80
60    400
71     40
83    450
Name: Sales, dtype: int64

In [32]:
sales_by_city=df_hrut.groupby(['Region','Quantity'])['Sales'].sum()
sales_by_region

Region
East     440
North    600
South    880
West     680
Name: Sales, dtype: int64

In [33]:
# step 4 explort
sales_by_region_quality_reset=sales_by_region.reset_index()